<a href="https://colab.research.google.com/github/Adfermar/PIA/blob/main/Python_language_reference_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INFORMACIÓN
---
**AUTOR**: Afermar

**CURSO**: Inteligencia Artificial y Big Data

**ASIGNATURA**: Programación de Inteligencia Artificial

**ÚLTIMA ACTUALIZACIÓN** 24/11/2022

**VERSIÓN** v6

# REFERENCIA DEL LENGUAJE MARKDOWN


---


Guía del lenguaje Markdown:
https://daringfireball.net/projects/markdown/basics

# RESUMEN PYTHON
---


---

## BIBLIOGRAFÍA



Enlaces Web de Referencia básica:

> * [Referencia general del lenguaje Python 3.11 (inglés)](https://docs.python.org/3.11/reference/index.html)
> * [Referencia general del lenguaje Python](https://docs.python.org/es/3/reference/index.html#reference-index)
> * [Library Index 3.11 (inglés)](https://docs.python.org/3.11/library/index.html)
> * [Funciones Built-in](https://docs.python.org/es/3/library/functions.html)
> * [Estructuras de datos (español)](https://docs.python.org/es/3/tutorial/datastructures.html#)
> * [Tipos integrados (español)](https://docs.python.org/es/3/library/stdtypes.html#)

---

Tutoriales rápidos
> * [Python.org 1](https://docs.python.org/3/tutorial/index.html)
> * [Python.org 2]( https://docs.python.org/es/3/tutorial/)
> * [Python.org 3](https://docs.python.org/3.8/tutorial/introduction.html)
> * [Educative io](https://www.educative.io/courses/learn-python-3-from-scratch)
> * [J2logo.com](https://j2logo.com/python/tutorial/)

---

Numpy
> * [NumPy quickstart v1.24.dev0 Manual](https://numpy.org/devdocs/user/quickstart.html)
> * [NumPy quickstart v1.23](https://numpy.org/doc/stable/user/quickstart.html#quickstart-array-creation)

---

Pandas
> * [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#min)
> * [Getting started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started)

---

Pillow
> * [Referencia de Pillow (oficial)](https://pillow.readthedocs.io/en/stable/reference/index.html)
> * [Tutorial externo 2 Pillow](https://pillow.readthedocs.io/en/stable/handbook/tutorial.html)
> * [Tutotial externo Pillow 1](https://thecleverprogrammer.com/2021/08/21/python-imaging-library-pil-tutorial/)
> * [Instalar Pillow (oficial)](https://docs.python.org/3/installing/index.html#installing-index)

---

PIP
> * [PIP documentation](https://pip.pypa.io/en/stable/getting-started/)

---

Otros
> * [Anaconda](https://www.anaconda.com/products/distribution)

---

Plantilla de enlaces
> * [texto del enlace](https://)
> * []()
> * []()
> * []()

---

---

## INTRODUCCIÓN


---



1. Python es un lenguaje de programación de **propósito general** creado en el año 1990.

1. Es un lenguaje **interpretado** lo que significa que al ejecutar el código CADA línea se traduce a lenguaje máquina sobre la marcha, no como en otros leguajes ("C", por ejemplo) que necesitan traducirse por completo (compilarse) generande un archiivo ejecutable que luego puede ser ejecutado.

1.  Python es un lenguaje de programación sencillo, fácil de entender y pensado para ser usado por un amplio sector de profesionales (matemáticos, ingenieros, técnicos en finanzas etc) y no sólo desarrolladores de software. Por tanto, pretende ser usado para un amplio número de tareas y aplicaciones

1. Se pueden cortar expresiones demasiado largas utilizando el caráter `\`
```python
cad = "texto demasiado largo para" + \
" ser colocado en la misma línea"
```
1. No hay que marcar el final de instrucción.
1. Una sola instrucción or línea.
1. Es muy importante tabular bien el código para evitar errores.
1. No hay que declarar las variables
1. No hay diferencia entre comillas simples o dobles

In [ ]:
# Ejemplo de cómo usar "\" para separar líneas demasiado largas
cad = "texto demasiado largo para" + \
" ser colocado en la misma línea"
print(cad)

texto demasiado largo para ser colocado en la misma línea

## BUENAS PRÁCTICAS DE ESCRITURA


---



> 1. Usar 4 espacios como identación en lugar de tabuladores
> 1. Cortar las líneas demasiado largas (wrapping) con `\`
> 1. Usar líneas en blanco para separar las clases de las funciones
> 1. Poner comentarios en líneas independientes
> 1. Usar "docstrings"
Usar espacios apra separar operandos y después de comas pero NO junto oa paréntesis `a = f(1, 2) + g(3, 4)`
> 1. No utilizar caracteres raros. Mejor si están dentro de ASCII
> 1. Clases: `NombreDeClase`
> 1. Funciones: `nombre_de_funcion`
> 1. Utilizar siempre `self` como nombre del primer argumento de un método

## ENTRADA DESDE TECLADO


---



> * Función `input()`
```python
nombre = input("Di tu nombre, colega: ")
```

## SALIDA HACIA LA PANTALLA


---



> * Función `print()` Cada print acaba con un retorno de carro o línea nueva, según el Sistema Operativo.
```python
print("Di tu nombre, colega: ")
```
> * Si metemos `\n` dentro de una cadena en print, obtendremos una salto de línea:
```python
print("Di tu nombre,\n colega: ")
```
> * Si queremos que la cadena `\n` se muestre tal cual ponemos una `r` al comienzo del print:
```python
print(r"Di tu nombre,\n colega: ")
```
> * Com las comillas triples podemos poner cadenas de texto más largas:
```python
print("""Di tu nombre, colega,
di algo, que me aburro,
di algo ya que se termina mi paciencia... """)
```

## VARIABLES


---



1. **NO hay que declarar las variables**
1. Están formadas por un "identificador" mas el operador "=" mas un "valor" (de cualquier tipo válido) Ejemplo: 
`nombre_variable = "cadena de texto"`
1. El valor de una variable **PUEDE** cambiar durante el programa.

1. Reglas para definir nombres de variables:

>> * **Se distingue entre mayúsculas y minúsculas** `Var_Name` no es lo mismo que `var_name`.

>> * Se pueden usar números en el identificador pero **NUNCA al comienzo**: `123nombre` no es un nombre de variable válido. Sin embargo `nombre123` sí lo es.

>> * Se puede utilizar el caráter `_` en cualquier parte del nombre.

>> * **NO pueden utilizarse espacios en blanco** dentro del nombre. Deben 
sustituirse por el carácter `_`. A este procedimiento se le denomina _snake_case_ (cosas de frikis)

>> * Se aconseja que el nombre de las variables reflejen la utilidad para la que fueron creadas. "rep_an", "fact_men" no dicen mucho. Sin embargo "reportes_anuales" y "facturas_mensuales" son nombres mejores.

In [ ]:
# Cómo declarar una variable y asignarle un valor (en este caso una cadena de texto)
nombre_variable = "cadena de texto"
print(nombre_variable)

cadena de texto

## TIPOS DE DATOS (principales)


---

### CONOCER CUÁL ES EL TIPO DE UNA VARIABLE

1. Función `type()`
```python
  numero = 10
  print(type(numero))
```
1. Resultado es: `class 'int'`

### NoneType
1. El tipo Nulo se define como `None`
1. Se puede asignar a una variable.
1. **NO es** igual a:
> 1. `False`
> 1. `0`
> 1. La cadena vacía (`[]`)
> 1. El valor por defecto de una variable a la que no le hemos asignado un valor

### NÚMEROS

> * [Standard Library Python.org Docs](https://docs.python.org/3.11/library/stdtypes.html#numeric-types-int-float-complex)

1. INTEGERS (enteros): pueden ser positivos o negativos. Para definir un número negativo se utiliza el carácter `-`. El tamaño en memoria que ocupan depende de su valor:
> * "0" ocupa 24 bytes
> * "1" ocupa 28 bytes
2. FLOATS (números reales): tienen parte decimal. Pueden ser positivos o negativos. Por defecto, un "float" ocupa 24 bytes.
> * Si escribimos `5` tenemos un número entero. 
> * Si escribimos `5.0` tenemos un "float".
3. COMPLEX (números complejos)
> * Para crear un úmero complejo hay que utilizar la función `complex(parte_real, parte_imaginaria)`

### BOOLEANOS

> * Pueden contener dos valores:
>> * `False` o `0` (cero)
>> * `True`o cualquier número positivo

> * **NO es lo mismo `True` (correcto) que `true` (error)**

### STRINGS

1. Son cadenas de texto encerradas entre comillas dobles o simples (línea simple) o bien entre comillas triples para múltiples líneas:
> * `"cadena de texto"`
> * `'cadena de texto'`
> * `"""cadena de texto`
> * `en múltiples líneas"""`
1. Se codifican en **Unicode**
1. Una vez que se asigna una cadena de texto a una variable ésta **NO puede cambiarse**
1. Se accede a una posición de una variable tipo STRING de la siguiente forma:
> * `str = "hola mundo"`
> * `print(str[0])`
> * La primera posición de una cadena es cero y la última es (n-1) siendo n la longitud de la cadena.
> * Se puede acceder a la posición de una cadena de forma inversa: "-1" es la última posición mientras que (-n) sería la primera.
> * Podemos conocer la longitud de una cadena con la función `len()`
1. Se puede acceder a partes de una cadena con el formato: `cadena[inicio:fin:paso]`
1. Casos particulares útiles:
> * `print(my_string[:])`  muestra la cadena entera
> * `print(my_string[::-1])`  invierte la cadena al completo
1. Introducir números u otro texto dentro de una cadena de texto:
> * Con el operador `%s` introducimos una cadena de texto.
> * Con el operador `%i`introducimos un número entero.
> * Con el operador `%f` introducimos un núermo decimal. Podemos limitar en número de decimales con `%f.2f`, en este caso, dos decimales.

In [ ]:
# Definir una variable de tipo cadena:
str1 = "hola"
print(str1)

# Acceder a la primera posición de la cadena:
print(str1[0])

# Longitud de la cadena:
n = len(str1)
print("la longitud de la cadena es:", n)

# Acceder a la última posición de la cadena:
print(str1[n-1])

# Acceder a la última posición utilizando la indexación inversa:
print(str1[-1])

# Acceder a la última posición utilizando la indexación inversa:
print(str1[-n])

# Muestra la cadena al completo
print(str1[:])

# Muestra la cadena en orden inverso
print(str1[::-1])

# Meter una cadena de texto dentro de otra
str2 = "Hola Mundo %s" % ("Cruel")
print(str2)

# Meter un número entero dentro de una cadena de texto
str2 = "Mi sueldo es: %i euros al mes" % (1000)
print(str2)

# Meter varios números enteros dentro de una cadena de texto
str2 = "Números impares: %i, %i, %i" % (1, 3, 5)
print(str2)

# Limitar el número de decimales al meter un número real dentro de una cadena
str2 = "%.2f" % (1.112233)
print(str2) # '1.11'

hola
h
la longitud de la cadena es: 4
a
a
h
hola
aloh
Hola Mundo Cruel
Mi sueldo es: 1000 euros al mes
Números impares: 1, 3, 5
1.11

## OPERADORES


---


Los operadores pueden colocarse ANTES del operando o ENTRE ellos.

### ARITMÉTICOS
> Se ejecutan por orden de precedencia. En caso de que ésta sea la misma el orden de ejecución se determinará **de izquierda hacia derecha**
> 1. Paréntesis `()`
> 1. Exponente `**`
> 1. Resto `%`; multiplicación `*`; división de números reales `/`; si queremos que una división que resulta en un núermo real devuelva un número **ENTERO** utilizamos el operador: `//`
> 1. Suma `+`; resta `-`

In [ ]:
# Ejemplo de precedencia entre operadores
# Primero se realiza la multiplicación y lueg la resta (distinto nivel de precedencia)
print(10 - 3 * 2) 

# Operadores con la misma precedencia
# Primero se ejecuta la multiplicación (por estar a la izquierda) y luego la división
print(3 * 20 / 5)  
 # División primero, luego multiplicación
print(3 / 20 * 5) 

# Utilización de paréntesis
# Todas las operaciones entre paréntesis se ejecutan primero empezando desde
# la izquierda hacia la derecha

# Primero la resta y luego la multiplicación
print((10 - 3) * 2) 
# Primero la suma, luego el resto y por último la división
print((18 + 2) / (10 % 8))

4
12.0
0.75
14
10.0

### COMPARADORES

Devuelven un tipo **boolenano** que puede ser _True_ o _False_

> 1. `>` `<` `>=` `<=` `==` `!=`
> 1. Los operadores `is` y `is not` NO son lo mismo que `==` y `!=`. Los primeros permiten distinguir entre _elementos_ distintos (por ejemplo variables) **independientemente de su contenido**

In [ ]:
# Ejemplos con operadores == y != y su diferencia con "is" e "is not"

lista1 = [1, 2, 3]
lista2 = [1, 2, 3]
lista3 = [1, 2, 4]
# Lista 1 y 2 tiene el mismo contenido
print(lista1 == lista2)
# lista 1 y lista 2 NO son el mismo elemento
print(lista1 is lista2)

# Lista 2 y 3 NO tienen el mismo contenido
print(lista2 == lista3)
# Lista 2 y 3 tampoco son el mismo elemento. "is not" devolverá True
print(lista2 is not lista3)

# Veamos lo que ocurre cuando los elementos son números:
num1 = 1
num2 = 1
print (num1 is num2)
# Vemos que ahora las variables tienen el mismo elemento

True
False
False
True
True

### ASIGNACIÓN

1. `=`	Asignación
1. `+=`	Incremento
1. `-=`	Decremento
1. `*=`	Multiplica por el valor existente
1. `/=`	Divide por el valor existente
1. `//=`	División de números reales entre el número existente
1. `**=` Potencia
1. `%=`	Resto
1. `|=`	OR
1. `&=`	AND
1. `^=`	XOR
1. `>>=`	Desplazamiento hacia la derecha
1. `<<=`	Desplazamiento hacia la izquierda

In [ ]:
# Ejemplo del uso del operador **=
# La forma de programar se aplica de la misma forma al resto
# de operadores de asignación.
num1 = 2
num2 = 3
num1 **= num2 # Equivale a num1 = num1 ** num2
print(num1)

8

### OPERADORES LÓGICOS

* En operaciones lógicas podemos usar la constante booleana `True` o un número **distinto** de cero como equivalentes de _verdadero_

* En operaciones aritméticas la constante booleana `True` se convierte al valor númerico **uno** "1".

* En operaciones lógicas la constante `False` y el valor numérico **cero** "0"
equivalen a _Falso_

* En operaciones Aritméticas la constante `False` se traduce como **cero** "0"

* Los operadores lógicos son:
> 1. `AND` (entre los operadores)
> 1. `OR` (entre los operadores)
> 1. `NOT` (delante del operando)

In [ ]:
# Ejemplos de operadores lógicos usando operandos numéricos
# junto con las constantes booleanas. 
# Vemos que en operaciones lógicas a veces se muestra el resultado 
# como una constante booleana y otras como un valor numérico.

print(10 and True)
print(-10.56 and True)
print("")
print(0 and False)
print(0 and True)
print(0 or True)
print(0 or False)
print("")
# Python convierte el valor boolano Fasle a su equivalente
# numérico
print(10 * False)
print(10 * True)

True
True

0
0
True
False

0
10

### OPERADORES A NIVEL DE BIT

1. `&`	Bitwise AND	In-fix
1. `|`	Bitwise OR	In-fix
1. `^`	Bitwise XOR	In-fix
1. `~`	Bitwise NOT	Prefix
1. `<<`	Shift Bits Left	In-fix
1. `>>`	Shift Bits Right	In-fix

### OPERADORES DE CADENAS DE TEXTO

1. Comparación
> Se compara cada carácter dentro de la cadena y se considera menor el que aparezca primero en el diccionario:
```python 
print('a' < 'b')  # El resultado es True
```
> Operadores:
> 1. `==`
> 1. `>=`
> 1. `<=` 
1. Concatenación: `+`
1. Replicar la cadena: `*`
1. Buscar una cadena dentro de otra: función `in`. La siguiente operación entre
paréntesis devuelve `True`si la cadena "is" está incluida en "random_string"
```python
random_string = "This is a random string"
print('is' in random_string) # El resultado es True
```

### OTROS OPERADORES y FUNCIONES

1. Raíz cuadrada
> Se necesita la biblioteca `math`
```python 
import math
variable = math.sqrt(número)
```



---

## ESTRUCTURAS DE CONTROL


---

### CONDICIONALES
1. Sentencia `if`:
> La sentencia condicional `if` puede anidarse. Su esctructura es:
```python
if condición is True:
      código A 
else:
      código B
``` 
1. Estructura `if-elif`
> 
```python
if condiciónA is True:
      códigoA 
elif condiciónB is True:
      códigoB
elif condiciónC is True:
      códigoC
elif condiciónD is True:
      códigoD
else:
      códigoE
``` 
1. Sentencias condicionales.
> Su estructura es:
`resultado = salida1 if (condición is True) else salida2`
```python
print("salida1" if (1 < 2) else "salida2") # El resultado es "salida1"
```

In [ ]:
var1 = 3
var2 = 2
print("salida1" if (var1 < var2) else "salida2") # El resultado es "salida1"

salida2

### WHILE

> * 
```python
while condicion:
    código
    [break]
[else:`
    código]
```

### FOR

> * 
```python
for variables in lista_valores
    código
    [break] # nos salimos del bucle
    [continue] # nos saltamos una iteración
[else:
    código]
```
> * `range` devuelve una secuencia de números definida por tres parámetros: inicio, fin y saltos.

In [ ]:
for a in ["batman", "antman", "daredevil"]:
    print(a)

batman
antman
daredevil

## FUNCIONES


---

### BÁSICO


1. Hay funciones ya definidas en el lenguaje Python como `len()` y otras creadas por el usuario.
1. El código definido dentro de la función **NO tiene validez fuera de ésta**. La única excepción son elementos llamados MUTABLES. Sin embargo la mayoría de elementos son inmutables, como los números y cadenas de texto.
1. Las creadas por el usuario se crean así:
> 
```python
 def minimo (argumento1, argumento2):
      if (argumento1 < argumento2):
          return argumento1
      else:
        return argumento2

  ```
  > Los argumentos que se pasan a la función son opcionales. El `return` también.
  
  > **Una vez ejecutado el `return` la función termina.**

  > La clase "Función" tiene un atributo denominado `.__annotations__` que devuelve información sobre la función:
  ```python
 def foobar (num):
      return num += 1
  print(minimo.__annotations__)
  ```

In [ ]:
# Ejemplo de cómo definir una función que devuelve el mínimo
# de dos números y de cómo utilizarla en el código
def minimo(argumento1, argumento2):
      if (argumento1 < argumento2):
          return argumento1
      else:
        return argumento2

var1 = 3
var2 = 2
print(minimo(var1, var2))

2

### MÉTODOS

1. Son funciones definidas por Python y que utilizan poniendo el operador `.` antes de utilizarlas.
1. Lista de algunos métodos:
> 1. Mostrar elementos:
>> * Print(). El argumento `end` de la función print añade un último carácter al resultado:
```python
a = 0
for a in range(5):
            print (a, end=",")
```
>> * Resultado: 0,1,2,3,4,
> 1. Cadenas:
>> * find()
>> * replace()
>> * len()
>> * upper()
>> * lower()
>> * join()
>> * format()
> 1. Conversión
>> * int()
>> * ord() Convierte un carácter a su valor Unicode
>> * float()
>> * str()
>> * bool()
>> * complex()
>> * hex()
1. INPUT.
>Este método pide al usuario que introduzca una cadena de texto. **Todo lo que se introduzca a través de la consola será convertido a cadena de texto** incluidos los números.
```python
name = input("Escribe tu nombre: ")
```

### LAMBDAS
0. Documentación:
> 1. https://docs.python.org/3.10/tutorial/controlflow.html#lambda-expressions
1. Son funciones con unas características muy específicas:
> 1. NO tienen un nombre propio.
> 1. Devuelven siempre un valor.
> 1. Pueden tener argumentos.
> 1. Tienen una sintaxis sencilla para ser ejecutada en **una sola línea**.
> 1. **NO pueden tener varias líneas**
> 1. Cuidadao al utilizarlas con las sentencias `if`.
> 1. Son muy útilies cuando se usan para **pasarles como argumento otras funciones**
> 1. Definición: `resultado = lambda argumentos : código`. Ejemplo:
```python
concat_strings = lambda a, b, c: a[0] + b[0] + c[0]
```
1. Ejemplo de cómo usar funciones `Lambda` como argumentos de otras funciones y así ahorrar líneas de código:
```python
 # Using the 'operation' argument as a function
def calculator(operation, n1, n2):
    return operation(n1, n2) 
# Usamos una función Lambda para definir qué tipo de operación vamos a pasar como argumento a la función calculator:
# Si queremos un producto:
result = calculator(lambda n1, n2: n1 * n2, 10, 20)
# Si queremos una suma:
result = calculator(lambda n1, n2: n1 + n2, 10, 20)
```
Etc
1. Son muy útiles con la funciones `map()`, `list()` y `filter()`

In [ ]:
# Un ejemplo de uso de funciones Labmda junto con map() y list()
num_list = [0, 1, 2, 3, 4, 5]

double_list = map(lambda n: n * 2, num_list)

print(list(double_list))

TypeError: ignored

### RECURSIVIDAD

1. Podemos utilizar recursividad en Python. La mejor forma de explicarlo es con un ejemplo:

In [ ]:
# Función recursiva que muestra por pantalla un número decreciente cada vez:
def rec_count(number):
    print(number)
    # Base case
    if number == 0:
        return 0
    rec_count(number - 1)  # A recursive call with a different argument

rec_count(5)

print("-------------------------------------------------")

# Otro ejemplo de recursividad:
def factorial(n):
    # Base case
    if n == 0 or n == 1:
        return 1

    if n < 0:
        return -1
    # Recursive call
    return n * factorial(n - 1)

result = str(factorial(5))
print("El factorial de 5 es: " + result)

## BUCLES


---

### FOR
> * La función `range(inicio, fin, paso)` genera una serie de números enteros
> * ```python
a = 0
for a in range(5):
            print (a, end=",")
```
> * Resultado es: 0,1,2,3,4
> * Se puede usar el bucle for para recorrer elementos de una lista:
> * ```python
list = ['A', 'B', 'C', 'D', 'E']
for i in range(0, len(list)):
        print(list[i], end=(', '))
```
> * Resultado: A, B, C, D, E, 
> * `break`: sale del bucle y para no volver a ejecutarlo
> * `continue`: salta la iteración en la que esté en ese momento pero ejecuta la SIGUIENTE, es decir, el bucle sigue su curso.
> * `pass`: ignora el código que se escriba a continuación. Útil para probar programas sin que estén terminados.

In [ ]:
for i in range(5):
  print(i, end=', ')

print()

list = ['A', 'B', 'C', 'D', 'E']
for i in range(0, len(list)):
      print(i, end=(', '))

### WHILE
> * `while (condición sea True):`
>* 
```python
x = 1
while(x < 10):
    x += 1
    print(x, end=", ")
```
> * Resultado: 2, 3, 4, 5, 6, 7, 8, 9, 10, 
> * *Iteración Vs. Recursividad*: La recursividad es útil cuando necesitamos dividir los datos en diferentes partes. La iteración es útil para atravesar datos y también cuando no queremos que cambie el alcance del programa.

In [ ]:
5^10

In [ ]:
int(0.5)

## TIPOS DE DATOS ESTRUCTURADOS


---



Bibliografía:

> * [Built-in Types Python.org Docs](https://docs.python.org/3.11/library/stdtypes.html#sequence-types-list-tuple-range)



> * [Data Structures Tutorial. Python.org Docs](https://docs.python.org/3.11/tutorial/datastructures.html)



> * [Avanzado: Container datatypes. Python.org Docs](https://docs.python.org/3.11/library/collections.html#)

### LISTAS (I) Introducción
> * Están ordenadas
> * Pueden contener varios tipos de datos
> * Tienen un índice
> * Se forman con corchetes `[]`
> * Son **mutables**, pueden cambiarse
> * Podemos usar el constructor `list()` para convertir elementos en listas:
```python
num_seq = range(0, 10)
num_list = list(num_seq)
```
> * Resultado: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
> * Las listas pueden tener varias dimensiones:
```python
winners = [[2006, "Italy"], [2010, "Spain"]]
print(winners[1])
print(winners[1][1])  # Accessing 'Spain'
print(winners[1][1][0])  # Accessing 'S'
```
> * Resultado: [2010, 'Spain'] ,Spain, S
> * Concatenar listas: operador `+`
> * Añadir una lista al final de otra: `.extend(lista)`
> * Añadir un elemento al final de la lista: `.append(elemento)`
> * Indtroducir un elemento en una posición dada: `.insert(posición, elemento)`
> * El método `.pop()` elimina el último elemento de una lista y lo devuelve.
> * El método `.remove(elemento)` busca el parámetro pasado y lo elimina de la lista.
> * El método `.index(elemento)` busca un elemento dentro de la lista y duvuelve su posición en ella.
> * Para saber si un elemento está dentro de una lista usamos la función `in`:
```python
cities = ["London", "Paris", "Los Angeles", "Beirut"]
print("London" in cities)
```
> * El método `.sort()` ordena los elementos de una lista ascendentemente ya sean valores numéricos o caracteres.

### LISTAS (II) Básico

1. Son agrupaciones de distintos tipos de datos.
Se definien con valores entre corchetes separados por comas:
`my_list = [1, 2.5, "A string", True]`
2. Se accede a ellas como con las cadenas: `my_list[0]`
3. Se les puede aplicar la función `len()`
> * Ojo con la función `len()` y con aplicar `len()` a un método `.range()` dentro de un bucle `for`:
> * Ejemplo:

In [ ]:
lista = [0, 1, 2, 3, 4, 5]
print(len(lista))
for i in range(len(lista)):
  print(i, end=", ")

6
0, 1, 2, 3, 4, 5,

### LISTAS (III) Iterar con listas
> * 4. Otra forma de cómo iterar con listas:
>> * Vemos que podemos usar dos variables (en este caso de tipo cadena) dentro del bucle.
>> * También utilizamos la funcion `in` para ver si un elemento está dentro de una lista.
>> * Además tenemos la función `zip()` que devuelve un iterador que crea duplas a partir de los elementos de dos listas.

In [ ]:
cad1 = ["principe", "princesa", "rey", "reina"]
cad2 = ["azul", "rosa", "verde", "rojo"]

for a, b in zip(cad1, cad2):
    print("Un {0} tiene el color: {1}".format(a, b))

Un principe tiene el color: azul
Un princesa tiene el color: rosa
Un rey tiene el color: verde
Un reina tiene el color: rojo

### LISTAS (IV) Métodos y funciones básicos
> * 5. Funciones y métodos para trabajar con listas:
>> * Método `.append(elemento)`
>> * Método `.remove(elemento)`
>> * Método `.pop(índice)`
>> * Método `.sort()`
>> * Función `sorted(lista)` devuelve una lista ordenada
>> * Método `.clear()` elimina todos los elementos de la lista que queda como "None"
>> * Función `max(<lista>)` devuelve el valor máximo de la lista
>> * Función `min(<lista>)` devuelve el valor mínimo de la lista

### LIST COMPREHENSION
> * Estructura:
>> * Variable = Corchertes + Código + Bucle for + Expresión boolena con if
> * Ejemplo
```python
nums_double = [n * 2 for n in nums if n % 4 == 0]
```
> * Equivale a:
```python
nums_double = []
for n in nums:
    nums_double.append(n * 2)
```
> * El código escrito se ejecuta el número de veces indicado por el `for` si se cumple la condición indicada en el `if`
> * **LA CONDICIÓN con `if` ES OPCIONAL**

### TUPLAS
> * Se crean con paréntesis
> * Están ordenadas
> * Tienen un índice
> * Se pueden concatenar con `+`
> * Se pueden anidar así
```python
hero1 = ("Batman", "Bruce Wayne")
hero2 = ("Wonder Woman", "Diana Prince")
awesome_team = (hero1, hero2)
```
> * Se pueden usar los operadores `in` e `index(elemento_a_buscar)`
> * Las tuplas son **INMUTABLES** pero pueden contener elementos mutables, como otras listas.
> * Una función interesante para utilizar tuplas es `zip()` que devuelve un iterador que crea tuplas a partir de dos listas. Con el parámetro `strict=True` obligamos a Python a que si las dos listas pasadas a zip() NO tienen el mismo número de elementos nos muestre un error.
Doc: https://docs.python.org/3/library/functions.html#zip
> * 

```python
# Ejemplo de utilización de la función zip()
list(zip(('a', 'b', 'c'), (1, 2, 3), strict=True))
```
> * Resultado: [('a', 1), ('b', 2), ('c', 3)]

> * Otro ejemplo con zip()

```python
# Ejemplo de utilización de la función zip() cuando, por error, 
# alguna de las listas tiene más elementos que la otra

print(list(zip(('a', 'b', 'c'), (1, 2, 3, 4), strict=True)))
```
> * Resultado: 

```python
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: zip() argument 2 is longer than argument 1
```

> * Último ejemplo de zip()

```python
# Ejemplo de utilización de la función zip() cuando, por error, 
# alguna de las listas tiene más elementos que la otra

print(list(zip(('a', 'b', 'c'), (1, 2, 3, 4))))
```
> * Resultado: 

```python
[('a', 1), ('b', 2), ('c', 3)]
```

In [ ]:
# Ejemplo de utilización de la función zip()
list(zip(('a', 'b', 'c'), (1, 2, 3)))

[('a', 1), ('b', 2), ('c', 3)]

### DICCIONARIOS
> * Documentación:
>> * https://docs.python.org/3/tutorial/datastructures.html#dictionaries
> * Se crean con las llaves `{}`
> * Son conjuntos de claves-valor.
> * **NO ESTÁN ORDENADOS**
> * Ejemplo de creación y sintaxis:
```python
phone_book = {"Batman": 468426, "Cersei": 237734, "Ghostbusters": 44678}
```
> * Se pueden crear conjuntos de otras con el constructor `dict()` de dos formas distintas:
```python
empty_dict = dict()  # Empty dictionary
phone_book = dict(Batman=468426, Cersei=237734, Ghostbusters=44678)
phone_book = dict([('Batman', 468426),
                   ('Cersei', 237734),
                   ('Ghostbusters', 44678)])
```
> * Podemos acceder al valor a través de la clave de dos formas: con los corchetes y con el método `.get()`
> * En el ejemplo anterior:
```python
print(phone_book["Cersei"])
print(phone_book.get("Ghostbusters"))
```
> * Añadir un valor al diccionario (o actualizarlo):
```python
phone_book["Godzilla"] = 46394  # New entry
phone_book["Godzilla"] = 9000  # Updating entry
```
> * Quitar un par clave-valor. Hay tres formas. 
>> * Primera: quitar el elemento con `del diccionario[clave]`
```python
del phone_book["Batman"]
```
>> * Segunda: quitando el elemento y devolviendo su valor con `.pop(clave)`
```python
cersei = phone_book.pop("Cersei")
```
>> * Tercero: quitando y devolviendo el último valor añadido con `.popitem()`.
>> * Removes and returns the last inserted pair, as a tuple
>> * In Python versions before 3.7, popitem() removes and returns the random item
```python
lastAdded = phone_book.popitem()
```
> * Se pueden usar las funciones `len()` e `in`
> * Copiar una entrada de un diccionario en otro con el método `.update(new_diccionary)`
```python
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}
phone_book.update(second_phone_book) # Add secondphone_book to phone_book
```
> * Dictionary Comprehension. Funciona de forma similar a como lo hacíamos con los bucles `for` e `if`:
```python
houses = {1: "Gryffindor", 2: "Slytherin", 3: "Hufflepuff", 4: "Ravenclaw"}
new_houses = {n**2: house + "!" for (n, house) in houses.items()}
```

> * Obtener la clave en un diccionari a partir de un valor:
Recorrer el diccionario con un bucle "for" y con ".items()".
Luego comprobar el valor buscado con el correspondiente en
la variable "values". Al encontrar el valor también tendremos
la clave ya que se generan por tuplas o pares.
```python
for key, values in datos.items():
    if minim == values[2]:
      return key
```

### CONJUNTOS

> * [Conjuntos en Python.org Docs](https://docs.python.org/3.11/library/stdtypes.html#set)
> * Son estructuras que no tienen índices ni están ordenados
> * Pueden contener tipos de datos como cadenas, números, boolenaos, tuplas pero **no listas**.
> * La característica más importante de los conjuntos es que **NO ADMITE ELEMENTOS REPETIDOS**
> * Se crean usando las llaves `{}`
> * 
```python
random_set = {"Educative", 1408, 3.142, (True, False)}
```
> * Se puede usar la función `len()`. 
> * Se puede utilizar el constructor `set({"hola"})`. Una ventaja del constructor es que podemos **crear conjuntos vacíos**
```python
empty_set = set()
random_set = set({"Educative", 1408, 3.142, (True, False)})
```
> * Añadir elementos con `.add(elemento)` y `.updadte()`
```python
empty_set = set()
empty_set.add(1)
empty_set.update([2, 3, 4, 5, 6])
```
> * Borrar elementos con `.discard()` y `.remove()`
```python
random_set = set({"Educative", 1408, 3.142, (True, False)})
random_set.discard(1408)
random_set.remove((True, False))
```
> * Se puede utilizar un bucle `for` para recorrer los elementos de un conjunto aunque los elementos recorridos **serán escogidos aleatoriamente**
> * Propiedades de los conjuntos:
>> * Propiedad **asociativa**: La intersección y la unión de conjuntos satisfacen la propiedad asociativa.
(A⋂B)⋂C = A⋂(B⋂C)    (A⋃B)⋃C = A⋃(B⋃C)
>> * Propiedad **distributiva** La intersección y la unión de conjuntos satisfacen la propiedad distributiva.
A⋃(B⋂C) = (A⋃B)⋂(A⋃C)      A⋂(B⋃C) = (A⋂B)⋃(A⋂C)
>> * **Identidad** A⋃∅ = A A⋂U = A
>> * **Complemento**: A⋃AC = U A⋂AC = ∅
>> * **Idempotente**: A⋂A = A A⋃A = A
>> * Propiedad **conmutativa**. La intersección y la unión de conjuntos satisfacen la propiedad conmutativa.La intersección y la unión de conjuntos satisfacen la propiedad conmutativa.  A⋂B = B⋂A  A⋃B = B⋃A
> * Operaciones con conjuntos:
>> * Unión: operador `|` o método `.union(conunto)`
```python
set_A = {1, 2, 3, 4}
set_B = {'a', 'b', 'c', 'd'}
print(set_A | set_B)
print(set_A.union(set_B))
```
>> * Diferencia: operador `-` o método `.difference(conjunto)`. La diferencia no cumple la propiedad conmutativa. No es lo mismo A-B que B-A.
```python
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}
print(set_A - set_B)
print(set_A.difference(set_B))
print(set_B - set_A)
print(set_B.difference(set_A))
```
>> * Intersección: operador `&` o método `.intersection(conjunto)`
```python
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}
print(set_A & set_B)
print(set_A.intersection(set_B))
print(set_B.intersection(set_A))
```

## CONVERSIÓN DE ESCTRUCTURAS A OTROS TIPOS


---


> * A tipo LISTA: se pueden convertir en lista las tuplas, conjuntos y diccionarios. En el caso de estos últimos sólo se mantendrán las claves.
```python
star_wars_tup = ("Anakin", "Darth Vader", 1000)
star_wars_set = {"Anakin", "Darth Vader", 1000}
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
star_wars_list = list(star_wars_tup)  # Converting from tuple
star_wars_list = list(star_wars_set)  # Converting from set
star_wars_list = list(star_wars_dict)  # Converting from dictionary
```
> * A tipo Tupla. Cualquier tipo de dato estructurado puede convertirse en tupla. Los diccionarios sólo mantendrán las claves.
```python
star_wars_list = ["Anakin", "Darth Vader", 1000]
star_wars_set = {"Anakin", "Darth Vader", 1000}
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
star_wars_tup = tuple(star_wars_list)  # Converting from list
star_wars_tup = tuple(star_wars_set)  # Converting from set
star_wars_tup = tuple(star_wars_dict)  # Converting from dictionary
```
> * A conjunto. Cualquier tipo de dato estructurado puede convertirse en tupla. Los diccionarios sólo mantendrán las claves.
```python
star_wars_list = ["Anakin", "Darth Vader", 1000]
star_wars_tup = ("Anakin", "Darth Vader", 1000)
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
star_wars_set = set(star_wars_list)  # Converting from list
star_wars_set = set(star_wars_tup)  # Converting from tuple
star_wars_set = set(star_wars_dict)  # Converting from dictionary
```
> * A tipo diccionario. Es necesario que las listas, tuplas y conjuntos estén **en forma de pares**
```python
star_wars_list = [[1,"Anakin"], [2,"Darth Vader"], [3, 1000]]
star_wars_tup = ((1, "Anakin"), (2, "Darth Vader"), (3, 1000))
star_wars_set = {(1, "Anakin"), (2, "Darth Vader"), (3, 1000)}
star_wars_dict = dict(star_wars_list) # Converting from list
star_wars_dict = dict(star_wars_tup) # Converting from tuple
star_wars_dict = dict(star_wars_set) # Converting from set
```

In [ ]:
""" Un caso muy curioso del uso de funciones lambda y de la función filter:
---------------------------------------------------------------------------
You must implement the count_low_high() function. 
Its parameter is a list of numbers.

If a number is greater than 50 or divisible by 3, it will count as a high. 
If these conditions are not met, the number is considered a low.

At the end of the function, you must return a list that contains the number 
of lows and highs, in that order.

In case the list is empty, you may return None.

Sample Input#
num_list = [20, 9, 51, 81, 50, 42, 77]
Sample Output#
[2, 5] # 2 lows and 5 highs
"""

def count_low_high(num_list):
    if (len(num_list)==0):
        return None
    high_list = list(filter(lambda n: n > 50 or n % 3 == 0, num_list))
    low_list = list(filter(lambda n: n <= 50 and not n % 3 == 0, num_list))
    return [len(low_list), len(high_list)]


num_list = [20, 9, 51, 81, 50, 42, 77]

print(count_low_high(num_list))

## BIBLIOTECAS


---


> * Para importar una biblioteca usar la palabra reservada `import`
> * Bibliotecas más populares:
>> * 
```python
import math
import heapq
import random
import datetime
```
> * Sistema de paquetes de desarrolladores:
https://pypi.org/

## IDEs POPULARES


---


> * PyCharm
> * IDLE
> * Spyder

## PYTHON EN WINDOWS


---


### Ejecutar un comando de windows (cmd) dentro de un programa Python:
```python
import subprocess
subprocess.run(["python", "--version"])
```
### EJECUTAR UN ARCHIVO PYTHON
> * Mediante el intérprete desde consola `>>>`
> * Ejecutando un archivo .py: `python3 fileName.py`
> * Escribiendo en la primera línea del programa: `#!/usr/bin/python3` El archivo tiene que tener permisos de ejecución (linux)

## PIP
Enlaces web de interés:
> * https://pip.pypa.io/en/latest/user_guide/#requirements-files

Actualizar con "pip" a la última versión de un paquete
> * `python -m pip install --upgrade <paquete>`

Muestra los paquetes instalados en Python
> * `python -m pip list` (linux)
> * `py -m pip list` (windows)

Muestra las bibliotecas que no están actualizadas
> * `python -m pip list --outdated` (linux)
> * `py -m pip list --outdated` (windows)

Muestra información específica sobre una biblioteca
> * `python -m pip show <paquete>` (linux)
> * `py -m pip show <paquete>` (windows)

Buscar una biblioteca específica
> * `python -m pip search <paquete>` (linux)
> * `py -m pip search <paquete>` (windows)

Desinstalar una biblioteca
> * `python -m pip uninstall <paquete>` (linux)
> * `py -m pip uninstall <paquete>` (windows)

## ENTORNOS VIRTUALES
---
Enlaces web de interés:
> * https://docs.python.org/3/tutorial/venv.html

> * `Install the virtual enviroment` 
> * `python3 -m venv <ruta>\tutorial-env`

Activar el entorno virtual
> * `tutorial-env\Scripts\activate.bat` (windows)
> * `source tutorial-env/bin/activate` (linux bash)

Cerrar el entorno virtual
> * `deactivate.bat` (windows)

## Manejo de errores

### Try - Except

    try:
      img1 = img1.convert("RGB")
    except ValueError as err:
      print(f"Conversión no permitida {err}, {type(err)}")
    except Exception as err:
      print(f"Error indeterminado {err}, {type(err)}")
      raise

También podemos escribir:

    else:
      raise ValueError("Wrong position inputs")



---


---


# NUMPY
---

### Inicios

Bibliografía

- [Cómo empezar](https://numpy.org/devdocs/user/quickstart.html)
- [Guía pra principiantes I](https://numpy.org/devdocs/user/quickstart.html)
- [Guía pra principiantes II](https://numpy.org/doc/stable/user/quickstart.html#)
- [Ordenar arrays](https://numpy.org/doc/stable/reference/generated/numpy.sort.html#numpy.sort)
- [Concatenar arrays de numpy](https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html#numpy.concatenate)
- [...]()

### Inicios: creación de arrays

Necesitamos importar la biblioteca Numpy (No es necesario en Google Colab)
```python
import numpy as np
```
A continuación: ejemplos de creación de arrays

In [ ]:
# En Google Colab NO es necesario incluir Numpy
# aun así ponemos su orden de llamada como en
# cualquir otro archivo de Python
import numpy as np
a = np.array([1, 2, 3])
print("Array a:", a)

# Creamos una array que contenga ceros:
b = np.zeros(2)
print("Array que contiene ceros: ", b)

# Creamos una array que contenga unos:
c = np.ones(3)
print("Array que contiene unos: ", c)


# Creamos una array que contenga una secuencia de números:
d = np.arange(10)
print("Array que contiene una secuencia de números: ", d)

# Creamos una array que contenga un intervalo de 5 números
# entre los valores 0 y 10
e = np.linspace(0, 10, 5)
print("Array que contiene un intervalo de números: ", e)

# Por último. Especificamos el tipo de datos del array:
f = np.ones(5, dtype=np.int32)
print("Array de unos cuyo tipo de datos es <int32>: ", f)

Array a: [1 2 3]
Array que contiene ceros:  [0. 0.]
Array que contiene unos:  [1. 1. 1.]
Array que contiene una secuencia de números:  [0 1 2 3 4 5 6 7 8 9]
Array que contiene un intervalo de números:  [ 0.   2.5  5.   7.5 10. ]
Array de unos cuyo tipo de datos es <int32>:  [1 1 1 1 1]

### Ordenar arrays

Bibliografía: [Tutorial para ordenar arrays](https://numpy.org/doc/stable/reference/generated/numpy.sort.html#numpy.sort)

Métodos:

  -  `np.sort()` Es el método principal y más sencillo

  -  `argsort` , which is an indirect sort along a specified axis,

  -  `lexsort`, which is an indirect stable sort on multiple keys,

  -  `searchsorted`, which will find elements in a sorted array, and

  -  `partition`, which is a partial sort.


A continuación: ejemplos de uso de estos métodos

In [ ]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
np.sort(arr)

array([1, 2, 3, 4, 5, 6, 7, 8])

### Concatenar arrays

Bibliografía:
- [Concatenar arrays de numpy](https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html#numpy.concatenate)

Métodos:

  -  `np.concatenate()` Es el método principal y más sencillo

A continuación: ejemplos de uso de este método

In [ ]:
a = np.array([1, 2, 3, 4])

b = np.array([5, 6, 7, 8])

print("Concatenación básica: ", np.concatenate((a, b)))

# Concatenar a lo largo de un eje:
x = np.array([[1, 2], [3, 4]])

y = np.array([[5, 6]])

print("Concatenación a lo largo de un eje:\n",np.concatenate((x, y), axis=0))

Concatenación básica:  [1 2 3 4 5 6 7 8]
Concatenación a lo largo de un eje:
 [[1 2]
 [3 4]
 [5 6]]

### Dimensiones de un array

How do you know the shape and size of an array?

This section covers 

    ndarray.ndim, ndarray.size, ndarray.shape

`ndarray.ndim` will tell you the number of axes, or dimensions, of the array.

`ndarray.size` will tell you the total number of elements of the array. This is the product of the elements of the array’s shape.

`ndarray.shape` will display a tuple of integers that indicate the number of elements stored along each dimension of the array



---



---


# PANDAS


---

### Bibliografía:
> * [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#min)
> * [Getting started](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html#getting-started)

### Import

Primero hay que cargar las bibliotecas

```phyton
import numpy as np

import pandas as pd

```

### Series

```phyton
s = pd.Series([1, 3, 5, np.nan, 6, 8])
```

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### Crear un DataFrame

```phyton
df = pd.DataFrame(datos del dataframe, index, columns)
```

In [ ]:
# Datos con los que rellenaresmo el DataFrame
dates = pd.date_range("20130101", periods=8)

# Creación del DatraFrame. Los índices serán fechas y las columnas letras
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.056496  0.557922  0.774119 -0.248001
2013-01-02  1.369623 -0.146104  1.690310 -1.898555
2013-01-03  0.286958  0.323283 -1.172241  0.415177
2013-01-04  0.653398  0.169276  0.930394  0.106342
2013-01-05  0.787576  2.623294  0.935230  1.581565
2013-01-06 -0.650778 -0.518143 -0.476166  0.357594
2013-01-07  0.168506  1.693805 -0.017359  0.717116
2013-01-08 -2.087233 -0.036523  0.006126 -0.699136

### Dataframe y diccionarios (Método 1)

> * DataFrame creado introduciendo un diccionario completo en el campo "datos". Los índices del Dataframe se crearán automáticamente con números naturales. Las columnas serán las claves del diccionario mientras que los valores constituirán cada celda del DataFrame
```phyton
df = pd.DataFrame(dictionary)
```

In [ ]:
# Creamos un diccionario
d = {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
}
# Usamos el diccionario para crear un dataframe: 
# los índices del diccionario serán las columnas.
# los valores del diccionario rellenarán cada celda del DataFrame
# se crearán índices numéricos automáticamente para el DataFrame
df2 = pd.DataFrame(d)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### Dataframe y diccionarios (Método 2)

Usar las claves del diccionario como índices y sus valores como las columnas del DataFrame
``` phyton
d = {'a': 1, 'b': 2, 'c': 3}
df = pd.DataFrame(datos, index=d.keys(), columns=d.values())
```

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
# Rellenamos cada celda con números aleatorios
df4 = pd.DataFrame(np.random.randn(3, 3), index=d.keys(), columns=d.values())
df4

          1         2         3
a -0.315580 -1.681017 -0.637543
b  1.621862  0.207315 -2.012786
c  0.517210 -0.282078 -0.621813

### Visualización

método `tail(n)`: muestra las "n" primeras entradas del DataFrame

método `head(n)`: muestra las "n" últimas entradas.

Si no indicamos el argumento "n" se muestrn por defecto 5 entradas.

```phyton
df.head()
df.tail(7)
```

In [ ]:
df.head(2)

                   A         B         C         D
2013-01-01  1.056496  0.557922  0.774119 -0.248001
2013-01-02  1.369623 -0.146104  1.690310 -1.898555

In [ ]:
df.tail()

                   A         B         C         D
2013-01-04  0.653398  0.169276  0.930394  0.106342
2013-01-05  0.787576  2.623294  0.935230  1.581565
2013-01-06 -0.650778 -0.518143 -0.476166  0.357594
2013-01-07  0.168506  1.693805 -0.017359  0.717116
2013-01-08 -2.087233 -0.036523  0.006126 -0.699136

### Dataframe >> NumPy

Se puede convertir un DataFrame a un array NumPy.

**SÓLO SE RECOMIENDA SI TODOS LOS DATOS DEL DATAFRAME SON DEL MISMO TIPO**

Otra cuestión de interés

**PERDEMOS LAS ETIQUETAS DE LOS ÍNDICES Y COLUMNAS**
``` phyton
df.to_numpy()
```

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
df5 = pd.DataFrame(np.random.randn(3, 3), index=d.keys(), columns=d.values())
print("DataFrame:\n", df5)
print("-----------------------------------------")
print("Array NumPy:", df5.to_numpy())

DataFrame:
           1         2         3
a  2.218082  1.015013  1.114073
b  0.223588 -0.685136  1.970508
c  0.278239 -1.399518  0.217701
-----------------------------------------
Array NumPy: [[ 2.2180816   1.01501266  1.11407347]
 [ 0.22358807 -0.6851356   1.97050751]
 [ 0.2782393  -1.39951822  0.21770141]]

### Invertir los ejes X e Y: "Transposing"

"Transposing" es cambiar las filas por columnas y viceversa.

``` phyton
df.T
```

In [ ]:
df5.T

          a         b         c
1  0.631307 -2.341240 -1.289028
2  0.533570  0.543207  0.986279
3 -1.155332  2.221996 -0.697619



---



---


# PILLOW


---

## Bibliografía

> * [Class Image Reference Docs](https://pillow.readthedocs.io/en/stable/reference/Image.html#)

## Img attributes

### Image.mode
The mode of an image is a string which defines the type and depth of a pixel in the image. Each pixel uses the full range of the bit depth. So a 1-bit pixel has a range of 0-1, an 8-bit pixel has a range of 0-255 and so on. The current release supports the following standard modes:

        1 (1-bit pixels, black and white, stored with one pixel per byte)

        L (8-bit pixels, black and white)

        P (8-bit pixels, mapped to any other mode using a color palette)

        RGB (3x8-bit pixels, true color)

        RGBA (4x8-bit pixels, true color with transparency mask)

        CMYK (4x8-bit pixels, color separation)

        YCbCr (3x8-bit pixels, color video format)

            Note that this refers to the JPEG, and not the ITU-R BT.2020, standard

        LAB (3x8-bit pixels, the L*a*b color space)

        HSV (3x8-bit pixels, Hue, Saturation, Value color space)

        I (32-bit signed integer pixels)

        F (32-bit floating point pixels)



---

## Methods

### Img.resize()

Cambia el ancho y alto de la imagen.

`Image.resize(size, resample=None, box=None, reducing_gap=None)`

¡¡ OJO !! size es una tupla formada por (ancho, alto): **hay que poner los paréntesis**

In [ ]:
# img es  una instanci de la clase Pillow.Image

img_result = img.resize((100, 50))

### Convert

In [ ]:
img1 = img1.convert("RGB")